
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/AccountStyles/account.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/responsive-base.css" asp-append-version="true" />
<div class="form-container">
    <section class="content-section">
        <h1 class="content-logo"><i class="fa-solid fa-plane"></i> Travel</h1>
        <h2 class="content-title">Welcome to our booking platform!</h2>
        <p>
            Thank you for choosing our reservation platform.
        </p>
    </section>
    <form class="register-form" method="post">
        <h1 class="title">@ViewData["Title"]</h1>
        <section class="input-container">
            <label asp-for="@Model.Username">Username</label>
            <input type="text" autocomplete="username" aria-required="true" asp-for="@Model.Username" />
            <span asp-validation-for="@Model.Username" class="text-danger"></span>
        </section>
        <section class="input-container">
            <label asp-for="@Model.Password">Password</label>
            <input type="password" autocomplete="password" aria-required="true" asp-for="@Model.Password" />
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </section>
        <button class="submit-btn" type="submit">Login</button>
        <p class="create-account-msg">Don't have an account? <a asp-action="Register" asp-controller="Account">Create Now</a></p>
        <div asp-validation-summary="ModelOnly" class="error-container"></div>
    </form>

</div>

<script src="~/js/input.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}