@using BookingWebProject.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@using static BookingWebProject.Common.GeneralAplicationConstants
@model HomeAdminPageViewModel
@inject UserManager<User> userManager

<link rel="stylesheet" href="~/css/AdminStyles/Home/Home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/AdminStyles/Base/Reset.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/AdminStyles/Responsive/Home.css" asp-append-version="true" />

<div class="wrapper">
    <div class="title-container">
        <h1 class="title">Dashboard</h1>
        <img src="~/img/Dashboard icon.webp" />
    </div>

    <section class="statistics">
        <div class="statistics-container">
            <i class="fa-solid fa-file-lines"></i>
            <p>Total Reservations: @Model.TotalReservationCount</p>
        </div>
        <div class="statistics-container">
            <i class="fa-solid fa-hotel"></i>
            <p>Total Hotel Reservations: @Model.HotelReservationsCount</p>
        </div>
        <div class="statistics-container">
            <i class="fa-solid fa-car"></i>
            <p>Total Cars Rented: @Model.RentCarsCount</p>
        </div>
    </section>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Joined</th>
                <th>Role</th>
                <th>User Reservations</th>
                @if (this.User.IsInRole(AdminRoleName))
                {
                    <th>Change User Role</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (AllUsersViewModel user in Model.AllUsers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@(string.Format($"{user.FirstName}  {user.LastName}"))</td>
                    <td>@user.UserEmail</td>
                    <td>@user.JoinTime.ToString("yyyy-MM-dd")</td>
                    @{
                        string value = "";
                        User userToGet = await userManager.FindByIdAsync(user.Id.ToString());
                        if (await userManager.IsInRoleAsync(userToGet, AdminRoleName))
                        {
                            value = "Admin";
                        }
                        else if (await userManager.IsInRoleAsync(userToGet, "Moderator"))
                        {
                            value = "Moderator";
                        }
                        else
                        {
                            value = "Member";
                        }
                    }
                    <td>@value</td>
                    <td>@user.ReservationsCount</td>
                    @if (this.User.IsInRole(AdminRoleName))
                    {
                        @if (value == "Member")
                        {
                            <td>
                                <form method="post" asp-area="" asp-controller="Account" asp-action="ChangeRole" asp-route-id="@user.Id" asp-route-role="Moderator">
                                    <button type="submit" class="role-link moderator">Promote</button>
                                </form>
                            </td>
                        }
                        else if (value == "Moderator")
                        {
                            <td>
                                <form method="post" asp-area="" asp-controller="Account" asp-action="ChangeRole" asp-route-id="@user.Id">
                                    <button type="submit" class="role-link member">Demote</button>
                                </form>

                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
