@model EditRoomPackageViewModel

<link rel="stylesheet" href="~/css/AdminStyles/RoomBasis/Edit.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/AdminStyles/RoomBasis/Responsive/Edit.css" asp-append-version="true" />

<div class="wrapper">
    <h1 class="title">Create Room Type</h1>
    <form method="post">
        <div class="input-container">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" />
            <span asp-validation-for="@Model.Name"></span>
        </div>
        <div class="input-container">
            <label asp-for="@Model.Price">Price</label>
            <input asp-for="@Model.Price" />
            <span asp-validation-for="@Model.Price"></span>
        </div>
        <button class="create-btn" type="submit">Create</button>
    </form>
</div>

<script src="~/js/input.js"></script>