@using BookingWebProject.Core.Models.Benefits
@model EditHotelViewModel

<link rel="stylesheet" href="~/css/AdminStyles/Base/Reset.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/AdminStyles/Hotel/EditHotel.css" asp-append-version="true" />

<div class="wrapper">
    <form method="post">
        <div class="input-container">
            <label asp-for="@Model.HotelName">Hotel Name</label>
            <input asp-for="@Model.HotelName" value="@Model.HotelName" />
            <span asp-validation-for="@Model.HotelName"></span>
        </div>
        <div class="input-container">
            <label asp-for="@Model.Description">Hotel Description</label>
            <textarea asp-for="@Model.Description" rows="10" cols="60">></textarea>
            <span asp-validation-for="@Model.Description"></span>
        </div>
        <div class="input-container">
            <label asp-for="@Model.Country">Hotel Country</label>
            <input asp-for="@Model.Country" value="@Model.Country" />
            <span asp-validation-for="@Model.Country"></span>
        </div>
        <div class="input-container">
            <label asp-for="@Model.City">Hotel City</label>
            <input asp-for="@Model.City" value="@Model.City" />
            <span asp-validation-for="@Model.City"></span>
        </div>
        <div class="input-container">
            <label asp-for="@Model.City">Hotel Star Rating</label>
            <input asp-for="@Model.StarRating" value="@Model.StarRating" />
            <span asp-validation-for="@Model.StarRating"></span>
        </div>
        <div class="input-container">
            <label asp-for="@Model.City">Longitude</label>
            <input asp-for="@Model.Longitude" value="@Model.Longitude" />
        </div>
        <div class="input-container">
            <label asp-for="@Model.Latitude">Latitude</label>
            <input asp-for="@Model.Latitude" value="@Model.Latitude" />
        </div>
        <div class="input-container">
            <label asp-for="@Model.ImgUrl">Add ImgUrl</label>
            <input asp-for="@Model.ImgUrl" />
        </div>
        @if (Model.BenefitsToAdd.Any())
        {
            <h2 class="title benefits-title">Add Benefits</h2>
            @foreach (BenefitViewModel benefit in Model.BenefitsToAdd)
            {
                <div class="benefit-container">
                    <label><i class="@benefit.BenefitIcon"></i> @benefit.Name</label>
                    <input type="checkbox" value="@benefit.Id" name="SelectedBenefitIds">
                </div>
            }
        }

        <button class="edit-button" type="submit">Edit</button>
    </form>
    <section class="hotel-pictures">
        @foreach (PictureAdminViewModel picture in Model.Pictures)
        {
            <div class="img-container">
                <img src="@picture.Path" />
                @if (!picture.IsDeleted)
                {
                    <form class="img-form" asp-area="Admin" asp-controller="Picture" asp-action="Delete">
                        <input type="hidden" value="@picture.Id" name="pictureId">
                        <button class="delete-btn" type="submit">Delete</button>
                    </form>
                }
                else
                {
                    <form class="img-form" asp-area="Admin" asp-controller="Picture" asp-action="Recover">
                        <input type="hidden" value="@picture.Id" name="pictureId">
                        <button class="recover-btn" type="submit">Recover</button>
                    </form>
                }
            </div>
        }
    </section>
    <section class="benefit-section">
        <h2 class="title">Hotel Benefits</h2>
        <ul class="benefit-list">
            @foreach (BenefitViewModel benefit in Model.CurrentHotelBenefits)
            {
                <li>
                    <p>@benefit.Name</p>
                    <i class="@benefit.BenefitIcon"></i>
                    <form method="post" asp-area="Admin" asp-controller="Hotel" asp-action="RemoveHotelBenefit">
                        <input type="hidden" name="benefitId" value="@benefit.Id">
                        <input type="hidden" name="hotelId" value="@Model.Id">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                </li>
            }
        </ul>
    </section>
    <section class="rooms-section">
        @foreach (var room in Model.Rooms)
        {
            <div class="room-card">
                <div class="img-container-room">
                    <img src="@room.ImgPath" alt="room image" />
                </div>
                <div class="content-container">
                    <p class="content content-title">@room.RoomTypeName</p>
                    <p class="content">@(string.Format($"{room.PricePerNight:F2}$"))</p>
                </div>
                <div class="button-container">
                    <a class="edit-button" asp-area="Admin" asp-controller="Room" asp-action="Edit">Edit</a>
                    @if (!room.IsDeleted)
                    {
                        <form method="post" asp-area="Admin" asp-controller="Room" asp-action="Delete">
                            <input type="hidden" name="hotelId" value="@Model.Id">
                            <input type="hidden" name="roomTypeId" value="@room.RoomTypeId">
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-area="Admin" asp-controller="Room" asp-action="Recover">
                            <input type="hidden" name="hotelId" value="@Model.Id">
                            <input type="hidden" name="roomTypeId" value="@room.RoomTypeId">
                            <button type="submit" class="recover-btn">Recover</button>
                        </form>
                    }
                </div>
            </div>
        }
    </section>
</div>

@*Add this js library to decode Hotel Description if it is on Bulgarian language*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js"></script>
<script>
    const decodedText = he.decode('@Model.Description');
    document.querySelector('textarea').value = decodedText;
</script>

<script src="~/js/Admin/Hotel/DeleteHotelImgjs.js"></script>

<script src="~/js/input.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}