@model EditRoomBasisViewModel

<link rel="stylesheet" href="~/css/AdminStyles/RoomBasis/Edit.css"  asp-append-version="true"/>
<link rel="stylesheet" href="~/css/AdminStyles/RoomBasis/Responsive/Edit.css" asp-append-version="true" />

<div class="wrapper">
    <h1 class="title">Edit @Model.Name Room Basis</h1>
    <form method="post">
        <div class="input-container">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" value="@Model.Name" />
            <span asp-validation-for="@Model.Name"></span>
        </div>
        <div class="input-container">
            <label asp-for="@Model.ClassIcon">Icon</label>
            <input asp-for="@Model.ClassIcon" value="@Model.ClassIcon" />
            <span asp-validation-for="@Model.ClassIcon"></span>
        </div>
        <button class="edit-btn" type="submit">Edit</button>
    </form>
</div>

<script src="~/js/input.js"></script>