@model IEnumerable<UserReservationViewModel>

<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/responsive-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/user-menu.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/UserStyles/UserReservations.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/UserStyles/Responsive/UserReservations.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Paytone+One&family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

<h1 class="title">Your reservation history</h1>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Reservation Id</th>
                <th>Reservation Start Date</th>
                <th>Reservation End Date</th>
                <th>Reservation Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserReservationViewModel reservation in Model)
            {
                <tr>
                    <td> <a asp-controller="Reservation" asp-action="Details" asp-route-id="@reservation.Id">@reservation.Id</a></td>
                    <td>@reservation.StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@reservation.EndDate.ToString("yyyy-MM-dd")</td>
                    <td>@string.Format($"{reservation.Price:F2}") $</td>
                </tr>
            }
        </tbody>
    </table>
</div>

